.Quotes{
    padding-top: 200px;
}
.container{
    padding-top: 300px;
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .card {
    flex: 0 0 auto;
    width: 18rem;
    margin-right: 10px; /* Optional: Adjust the margin between cards */
  }

