.Quotes{
    padding-top: 200px;
}

#first-container{
  padding-top: 300px;

}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .card {
    flex: 0 0 auto;
    width: 18rem;
    margin-right: 10px;
  }


footer {
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.logos img {
  margin: 5px;
  max-width: 100px; 
  height: auto;
}